[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "longitudinalcascade"]
	path = longitudinalcascade
	url = https://github.com/noahhaber/longitudinalcascade
[submodule "rotatogram"]
	path = rotatogram
	url = https://github.com/noahhaber/rotatogram
