[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "longitudinalcascade"]
	path = longitudinalcascade
	url = https://github.com/noahhaber/longitudinalcascade
	shallow = true
	registered = true
